@font-face {
    font-family: Lato-Light;
    src: url('../fonts/LatoLatin-Light.eot');
    src:url('../fonts/LatoLatin-Light.woff') format('woff');
    src:url('../fonts/LatoLatin-Light.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg');*/
}
@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/LatoLatin-Italic.eot');
    src:url('../fonts/LatoLatin-Italic.woff') format('woff');
    src:url('../fonts/LatoLatin-Italic.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg'); */
}
@font-face {
    font-family: Lato-BoldItalic;
    src: url('../fonts/LatoLatin-BoldItalic.eot');
    src:url('../fonts/LatoLatin-BoldItalic.woff') format('woff');
    src:url('../fonts/LatoLatin-BoldItalic.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg'); /* iOS */
}
@font-face {
    font-family: Lato-Heavy;
    src: url('../fonts/Lato-Heavy.eot');
    src:url('../fonts/Lato-Heavy.woff') format('woff');
    src:url('../fonts/Lato-Heavy.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg'); /* iOS */
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    z-index: 3;
    color: #001d07;
    font-family: "Lato-Heavy";
    border: none;
    background-color: #ffffff;
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px

}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
    #menu_img{
        width: 150px;
    }
}
@media screen and (min-width: 768px) {
    #menu_img{
        width: 230px;
    }
}
@media screen and (min-width: 391px) {

}
.navbar li a{
    color: #001d07;
    text-align:center;
    padding:25px 32px;
    text-decoration: none;
}

.navbar li a:hover:not(.active){
    color: #001d07;
    background-color: rgba(45, 44, 44, 0.12);
    /*color: #0004ff;*/
    transition: 0.5s;
}
.active{
    color: #001d07;
    background-color: rgba(45, 44, 44, 0.17);
}
.active:hover{
    color: #001d07;
    background-color: rgba(45, 44, 44, 0.17);
}
.navbar li:not(#menu_img_li){
    /*width1:25%;*/
}
/*.navbar li a.active{
    background-color: rgba(45, 44, 44, 0.17);
}*/
body{
    font-family: "Lato-Light";
    color: white;
    background: url(../imgs/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar-brand{

    padding: 0;
}
.well{
    background-color: transparent;
}
nav{
    color: #001d07;

}
#body_img{
    margin-left:15% ;
    width: 70%;
}
#welcome_scrn{
    text-align: center;

}
#side_nav_links{
    background-color: rgba(251, 251, 251, 0.2);
}
#welcome_button{
    font-family: "Lato-Heavy";
    position: relative;
    z-index: 999;
    border-radius: 15px;
    background-color: #fbfff5; /* Green */
    border: none;
    color: #004701;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
}
#welcome_button:hover{
    transition: 0.5s;
    color: #003003;
    background-color: rgba(220, 220, 220, 0.95); /* Green */

}
.navbar-inverse .navbar-nav>li>a {
    color: #002108;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #002108;
    background-color: rgba(45, 44, 44, 0.17);
}
#side_nav_links{
    height:230px;
    padding: 0px;
}
#side_nav_links  p {
    color: white;
    width: 100%;
    text-align:center;
    text-decoration: none;
}
#side_nav_links p:hover {
    background-color: rgba(251, 251, 251, 0.38);
}
#side_nav_links a:hover {

}
#side_nav_links a {
    display: block;
    width: 100%;
    padding:25px 32px;
    color: white;
    text-decoration: none;
}
#hamb_menu{
    background-color: #343434;
}
#particles-js{
    z-index: 2;
    width: 99%;
    height: 99%;
    position: absolute;
    top: 0;
}
#welcome_scrn>p{
    font-family: "LatoLatin Light";
    font-size: 22px;
}