@font-face {
    font-family: Lato-Light;
    src: url('../fonts/LatoLatin-Light.eot');
    src:url('../fonts/LatoLatin-Light.woff') format('woff');
    src:url('../fonts/LatoLatin-Light.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg');*/
}
@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/LatoLatin-Italic.eot');
    src:url('../fonts/LatoLatin-Italic.woff') format('woff');
    src:url('../fonts/LatoLatin-Italic.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg'); */
}
@font-face {
    font-family: Lato-BoldItalic;
    src: url('../fonts/LatoLatin-BoldItalic.eot');
    src:url('../fonts/LatoLatin-BoldItalic.woff') format('woff');
    src:url('../fonts/LatoLatin-BoldItalic.ttf') format('truetype');
    /*url('tagesschrift.svg#font') format('svg'); /* iOS */
}
#menu{
    z-index: 9999;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width1: 200px;
    height:140px;*/
    overflow:hidden;
    /*background: url(../imgs/menu_panel.png);*/
 /*   background: linear-gradient(to right, rgb(192, 237, 191), rgb(253, 254, 210));
    /*background-color: #e9f1ba;*/
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    /*border: 3px hidden ;*/
}
#menu li a{
    display: block;
    color: #000;
    text-align:center;
    padding:20px 22px;
    text-decoration: none;
}

#menu li a:hover:not(.active){;
   background-color: rgba(45, 44, 44, 0.12);
    /*color: #0004ff;*/
    transition: 0.5s;
}
#menu li a.active{
    background-color: rgba(45, 44, 44, 0.17);
}
#menu li:not(#menu_img_li){
    /*width1:25%;*/
    float:right;
}

body {
    color: white;
    background: url(../imgs/background3.jpg);
    /*background: linear-gradient(to right, rgb(27, 40, 27), rgb(39, 40, 29));*/
    font-family: "Lato-Light";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#menu_img{
    float: left;
    display: inline-block;
    width: 240px;
    height: 41px;
}
section{

    color: white;
    margin-left: 15%;
    width: 70%;
    height: 98vh;
}
